<?xml version="1.0"?>
<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find turtlebotmove)/world/Obstacles2.world"/>
    </include>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(env TURTLEBOT3_MODEL).urdf.xacro" />
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(env TURTLEBOT3_MODEL) -param robot_description" />
    <node pkg = "turtlebotmove" type = "turtlebot_main" name = "turtlebot_main" output = "screen"/>

    <!-- ROSbag -->
    <arg name = "rosbag_yn" default= "false" />
    <node pkg="rosbag" name="record" type="record"
        args="-a -x /camera/(.*) -O $(find turtlebotmove)/Results/turtlebotmove.bag"
        if="$(arg rosbag_yn)"
    />
</launch>
